In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df=pd.read_csv("files_for_lab/Customer-Churn.csv")
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [50]:
df.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [70]:
df[df["TotalCharges"].isna()]

Empty DataFrame
Columns: [gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, MonthlyCharges, TotalCharges, Churn]
Index: []

In [69]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"],errors="coerce")

In [72]:
df["TotalCharges"]=df["TotalCharges"].fillna(0)

In [71]:
#empty df expected
df[df["TotalCharges"].isna()]

Empty DataFrame
Columns: [gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, MonthlyCharges, TotalCharges, Churn]
Index: []

In [73]:
numericals=df.select_dtypes(np.number)
categoricals=df.select_dtypes("object")

In [74]:
dummies=categoricals.columns
df_dumm=df[dummies]
categoricals= pd.get_dummies(df_dumm, drop_first = True)

In [75]:
df_num=pd.concat([numericals,categoricals],axis=1)

In [76]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   SeniorCitizen                         7043 non-null   int64
 1   tenure                                7043 non-null   int64
 2   MonthlyCharges                        7043 non-null   float64
 3   TotalCharges                          7043 non-null   float64
 4   gender_Male                           7043 non-null   uint8
 5   Partner_Yes                           7043 non-null   uint8
 6   Dependents_Yes                        7043 non-null   uint8
 7   PhoneService_Yes                      7043 non-null   uint8
 8   OnlineSecurity_No internet service    7043 non-null   uint8
 9   OnlineSecurity_Yes                    7043 non-null   uint8
 10  OnlineBackup_No internet service      7043 non-null   uint8
 11  OnlineBackup_Yes                      7043 non-null   uint8
 12  DeviceProtection_No internet service  7043 non-null   uint8
 13  DeviceProtection_Yes                  7043 non-null   uint8
 14  TechSupport_No internet service       7043 non-null   uint8
 15  TechSupport_Yes                       7043 non-null   uint8
 16  StreamingTV_No internet service       7043 non-null   uint8
 17  StreamingTV_Yes                       7043 non-null   uint8
 18  StreamingMovies_No internet service   7043 non-null   uint8
 19  StreamingMovies_Yes                   7043 non-null   uint8
 20  Contract_One year                     7043 non-null   uint8
 21  Contract_Two year                     7043 non-null   uint8
 22  Churn_Yes                             7043 non-null   uint8
dtypes: float64(2), int64(2), uint8(19)
memory usage: 350.9 KB

In [77]:
df_num.isna().sum()

SeniorCitizen                           0
tenure                                  0
MonthlyCharges                          0
TotalCharges                            0
gender_Male                             0
Partner_Yes                             0
Dependents_Yes                          0
PhoneService_Yes                        0
OnlineSecurity_No internet service      0
OnlineSecurity_Yes                      0
OnlineBackup_No internet service        0
OnlineBackup_Yes                        0
DeviceProtection_No internet service    0
DeviceProtection_Yes                    0
TechSupport_No internet service         0
TechSupport_Yes                         0
StreamingTV_No internet service         0
StreamingTV_Yes                         0
StreamingMovies_No internet service     0
StreamingMovies_Yes                     0
Contract_One year                       0
Contract_Two year                       0
Churn_Yes                               0
dtype: int64

1. Apply SMOTE for upsampling the data

    Use logistic regression to fit the model and compute the accuracy of the model.
    Use decision tree classifier to fit the model and compute the accuracy of the model.
    Compare the accuracies of the two models

In [109]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [110]:
#-- 1 --
#X-Y-SPLIT
Y=df_num["Churn_Yes"]
X=df_num.drop(["Churn_Yes"],axis=1)

#-- 2 --
#TRAIN-TEST-SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=100)

In [111]:
#-- 3 --
#SCALING
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer

#scaling on the train set, applying on the test set
scaler_x = StandardScaler().fit(X_train)
X_train_scaled = pd.DataFrame(scaler_x.transform(X_train),columns=X_train.columns, index=X_train.index)
X_test_scaled = pd.DataFrame(scaler_x.transform(X_test),columns=X_test.columns, index=X_test.index)

In [112]:
#-- 4.2 --
#BALANCING
from imblearn.over_sampling import SMOTE

sa = SMOTE()
X_s, Y_s = sa.fit_sample(X_train_scaled, Y_train)

In [113]:
#-- 5.1.1 --
#MODELING with Linear Regression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

model= LogisticRegression()
classification=model.fit(X_s, Y_s)

y_train_pred = classification.predict(X_s)
y_train_pred_df = pd.DataFrame(y_train_pred,index=Y_s.index,columns=["Churn_Yes"])

y_test_pred = classification.predict(X_test_scaled)
y_test_pred_df = pd.DataFrame(y_test_pred,index=Y_test.index,columns=["Churn_Yes" + "_pred"])

In [114]:
model.score(X_test_scaled, y_test)

0.7292948414576431

In [115]:
#accuracy of the model
from sklearn.metrics import accuracy_score

print("The accuracy for the TRAIN set is:")
#using Y_s and not Y_train because of upsampling 
print(accuracy_score(Y_s, y_train_pred))
print()
print("The accuracy for the TEST set is:")
print(accuracy_score(Y_test, y_test_pred))

The accuracy for the TRAIN set is:
0.7755720981527433

The accuracy for the TEST set is:
0.7292948414576431

In [116]:
#-- 5.2 --
#MODELING with decision tree classifier (scaled)
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

model= DecisionTreeClassifier(random_state=0)
classification=model.fit(X_s, Y_s)

y_train_pred = classification.predict(X_s)
y_train_pred_df = pd.DataFrame(y_train_pred,index=Y_s.index,columns=["Churn_Yes"])

y_test_pred = classification.predict(X_test_scaled)
y_test_pred_df = pd.DataFrame(y_test_pred,index=Y_test.index,columns=["Churn_Yes" + "_pred"])

In [117]:
cross_val_score(model, X_test_scaled, Y_test, cv=10)

array([0.78773585, 0.69811321, 0.75471698, 0.71563981, 0.69194313,
       0.71090047, 0.70616114, 0.69668246, 0.63507109, 0.73933649])

In [118]:
model.score(X_test_scaled, y_test)

0.7221959299574066



Apply TomekLinks for downsampling

    It is important to remember that it does not make the two classes equal but only removes the points from the majority class that are close to other points in minority class.
    
    Use logistic regression to fit the model and compute the accuracy of the model.
    
    Use decision tree classifier to fit the model and compute the accuracy of the model.
    
    Compare the accuracies of the two models.
    
    You can also apply this algorithm one more time and check the how the imbalance in the two classes changed from the last time.

In [119]:
#-- 4.2 --
#BALANCING
from imblearn.under_sampling import TomekLinks

sa = TomekLinks()
X_s, Y_s = sa.fit_sample(X_train_scaled, Y_train)

In [120]:
#-- 5.2.1 --
#MODELING with Linear Regression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

model= LogisticRegression()
classification=model.fit(X_s, Y_s)

y_train_pred = classification.predict(X_s)
y_train_pred_df = pd.DataFrame(y_train_pred,index=Y_s.index,columns=["Churn_Yes"])

y_test_pred = classification.predict(X_test_scaled)

In [121]:
model.score(X_test_scaled, y_test)

0.7704685281590156

In [122]:
#accuracy of the model
from sklearn.metrics import accuracy_score

print("The accuracy for the TRAIN set is:")
#using Y_s and not Y_train because of upsampling 
print(accuracy_score(Y_s, y_train_pred))
print()
print("The accuracy for the TEST set is:")
print(accuracy_score(Y_test, y_test_pred))

The accuracy for the TRAIN set is:
0.8233863837312113

The accuracy for the TEST set is:
0.7704685281590156

In [123]:
#-- 5.2.2 --
#MODELING with decision tree classifier (scaled)
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

model= DecisionTreeClassifier(random_state=0)
classification=model.fit(X_s, Y_s)

y_train_pred = classification.predict(X_s)
y_train_pred_df = pd.DataFrame(y_train_pred,index=Y_s.index,columns=["Churn_Yes"])

y_test_pred = classification.predict(X_test_scaled)
y_test_pred_df = pd.DataFrame(y_test_pred,index=Y_test.index,columns=["Churn_Yes" + "_pred"])

In [124]:
cross_val_score(model, X_test_scaled, Y_test, cv=10)

array([0.78773585, 0.69811321, 0.75471698, 0.71563981, 0.69194313,
       0.71090047, 0.70616114, 0.69668246, 0.63507109, 0.73933649])

In [125]:
model.score(X_test_scaled, y_test)

0.7359204921911974